input[type=checkbox] {
    appearance: none;
    min-height: 20px;
    min-width: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fafafa;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

input[type=checkbox]:checked {
    background: #007bff;
    border-color: #007bff;
}

input[type=checkbox]:checked::before {
    content: "\2714";
    display: block;
    text-align: center;
    color: white;
}
